@media (max-width: 768px) {
    #filtros {
        flex-direction: column;
        align-items: stretch;
    }

    #filtros select{
        width: 100%;
    }
    #filtro input{
        width: 100%;
    }
}

@media (max-width: 480px) {
    #tabela-manobras th:nth-child(2),
    #tabela-manobras td:nth-child(2){
        display: none;
    }
}

.dificuldade-fácil {
    color: #4caf50;
}

.dificuldade-média {
    color: #ff9800;
}

.dificuldade-difícil {
    color: var(--primary-color);
}

#tabela-manobras {
    width: 100%;
    border-collapse: collapse;
}

#tabela-manobras th {
    background-color: var(--primary-color) ;
    color: var(--text-color);
    padding: 12px;
    text-align: left;
}

#tabela-manobras td{
    padding: 12px;
    border-bottom: 1px solid var(--border-color) ;
}

#tabela-manobras tr:hover td {
    background-color: var(--hover-color);
    cursor: pointer;
}

#modal-video {
    width: 100%;
    height: 250px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    margin-top: 15px;
}

#filtros {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

