#lista-skatistas {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    #lista-skatistas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #lista-skatistas {
        grid-template-columns: 1fr;
    }
}

.card {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.card:hover {
    background-color: #151414;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 15%;
    border-radius: 8px;
}

.card-info {
    padding: 10px 5px;
}

.card-info h3 {
    margin: 0 0 8px 0;
    color: var(--primary-color);
}

.card-info p {
    margin: 4px 0;
    color: var(--text-secondary);
    font-size: 14px;
}

.card-bio {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--primary-color);
    color: var(--text-color);
    font-size: 14px;
}

.card.aberto .card-bio {
    display: block;
}

#modal-foto {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 15%;
    border-radius: 8px;
    margin-bottom: 15px;
}

#filtros select {
    width: 160px;
    cursor: pointer;
}
#filtros input {
    width: 20%;
}

