#lista-skatistas {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}

.card img{
    height: 320px;
}

.card-bio {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--primary-color);
    color: var(--text-color);
    font-size: 14px;
}

.card.aberto .card-bio {
    display: block;
}
.card img{
    object-position: 0 15%;
}

#modal-foto {
    object-position: 0 15%;
}

@media (max-width: 768px) {
    #lista-skatistas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #lista-skatistas {
        grid-template-columns: 1fr;
    }
}
